<div class="alert alert-success">
 <h4 class="alert-heading">{{'Login' | translate}}</h4>
 <hr />
<form novalidate [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
  <div class="form-group"
       [ngClass]="{
        'has-danger': email.invalid && (email.dirty || email.touched),
        'has-success': email.valid && (email.dirty || email.touched)
   }">
    <label>{{'Email' | translate}}</label>
    <input type="email"
           class="form-control"
           formControlName="email"
           required>
    <div class="form-control-feedback"
         *ngIf="email.errors && (email.dirty || email.touched)">
      <p *ngIf="email.errors.required">{{'EmailRequired' | translate}}</p>
      <p *ngIf="email.errors.email">{{'EmailFormat' | translate}}</p>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{
        'has-danger': pwd.invalid && (pwd.dirty || pwd.touched),
        'has-success': pwd.valid && (pwd.dirty || pwd.touched)
   }">
    <label>{{'Password' | translate}}</label>
    <input type="password"
           class="form-control"
           formControlName="pwd"
           required>
    <div class="form-control-feedback"
         *ngIf="pwd.errors && (pwd.dirty || pwd.touched)">
      <p *ngIf="pwd.errors.required">{{'PasswordRequired' | translate}}</p>
      <p *ngIf="pwd.errors.minlength">{{'PasswordFormat' | translate}} {{pwd.errors.minlength.requiredLength - pwd.errors.minlength.actualLength}} characters </p>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <div class="form-group" class="alert alert-danger center-block" *ngIf = "statusMessage">
    <span>{{statusMessage}}</span>
  </div>
</form>
</div>