<div class="jumbotron">
  <h1 class="display-4">{{'Hello' | translate}}</h1>
  <p class="lead">{{'HeaderText' | translate}}</p>
  <hr class="my-4">
 <ul class="nav nav-tabs">
  <li class="nav-item" *ngIf="!loggedIn">
    <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'Login' | translate}}</a>
  </li>
  <li class="nav-item" *ngIf="!loggedIn">
    <a routerLink="/register" class="nav-link" routerLinkActive="active">{{'Registration' | translate}}</a>
  </li>
  <li class="nav-item" *ngIf="loggedIn">
    <a href="#" class="nav-link" (click)=logout($event)>{{'Logout' | translate}}</a>
  </li>
  <li class="nav-item">
    <select (change)="changeLanguage($event)" [(ngModel)]="language">
      <option value="en">English</option>
      <option value="fr">French</option>
    </select>
  </li>
</ul>
<router-outlet></router-outlet>
</div>
